/Volumes/Macintosh HD2/Users/daniel/XCode/Resolume/KinectServer/build/Debug
/Volumes/Macintosh HD2/Users/daniel/XCode/Resolume/KinectServer/build/KinectServerClient.build
/Volumes/Macintosh HD2/Users/daniel/XCode/Resolume/KinectServer/src/backup
/Volumes/Macintosh HD2/Users/daniel/XCode/Resolume/KinectServer/src/ZMQ_ClientServerExample
